:root{
    --green:rgb(0, 255, 166);
}
.bg-primary.bg-primary{
    background-color: var(--pink) !important;
    font-size: 9px;
}

.nav-item{
    border-bottom: 0.5px solid #2f3477;
}

.nav-link{
    border-radius: 16px;
}

.nav-link:hover{
    transition: 0.5s;
    color: #2f3477 !important;
}

@media (min-width:992px){
    .nav-item{
        border-bottom: none;
    }
}

#header{
    background: url(../src/paisaje-2-e1549600987975.jpg) top/cover no-repeat ; 
}

.btn:not(.nav-btns button){
    background-color: #00f2ff;
    color: var(--azul) !important;
    border: 2px solid #2f3477;
    transition: 0.5s;
    padding: 10px 28px;
    border-radius: 25px;
}

.btn:not(.nav-btns button):hover{
    transition: 1s;
    color: var(--amarillo);
    background-color: var(--azul) ;
}

/*collection*/
.tittle h2::before{
    position: relative;
    content: ".";
    color:#00ffee;
    width: 4px;
    height: 50px;
    background-color: #00ffe5;
    left: -20px;
}
.collection-img span{
    top: 20px;
    right: 20px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: red;
}
#offers{
    background: url(../src/1000_F_95148846_fIpLzri3ozpYflW1REn3sM3GWpcaQ89v.jpg)
    center/cover no-repeat;
}
#offers.row{
    min-height: 60px;
}
